.elementor-4732 .elementor-element.elementor-element-c3f5d90 {
    --display: flex;
    --padding-top: 0vw;
    --padding-bottom: 0vw;
    --padding-left: 8vw;
    --padding-right: 0vw;
}

.elementor-4732 .elementor-element.elementor-element-c3f5d90 .spaciaz-border-shape {
    width: 30px;
    height: 30px;
    clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
}

.elementor-4732 .elementor-element.elementor-element-c4077e1>.elementor-widget-container {
    margin: 0px 0px -25px 0px;
}

.elementor-4732 .elementor-element.elementor-element-c4077e1 .spaciaz-border-shape {
    width: 30px;
    height: 30px;
    clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}

.elementor-4732 .elementor-element.elementor-element-c4077e1 {
    text-align: center;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
}

.elementor-4732 .elementor-element.elementor-element-ccb4ed9>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4732 .elementor-element.elementor-element-ccb4ed9 .spaciaz-border-shape {
    width: 30px;
    height: 30px;
    clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-4732 .elementor-element.elementor-element-bce2eaa>.elementor-widget-container {
    margin: 15px 0px 30px 0px;
}

.elementor-4732 .elementor-element.elementor-element-bce2eaa .spaciaz-border-shape {
    width: 30px;
    height: 30px;
    clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}

.elementor-4732 .elementor-element.elementor-element-bce2eaa .elementor-icon-wrapper {
    text-align: center;
}

.elementor-4732 .elementor-element.elementor-element-bce2eaa .elementor-icon {
    font-size: 41px;
}

.elementor-4732 .elementor-element.elementor-element-bce2eaa .elementor-icon svg {
    height: 41px;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-4732 .elementor-element.elementor-element-ff5a3ae {
    width: var( --container-widget-width, 280px);
    max-width: 280px;
    --container-widget-width: 280px;
    --container-widget-flex-grow: 0;
    text-align: center;
}

.elementor-4732 .elementor-element.elementor-element-ff5a3ae.elementor-element {
    --align-self: center;
}

.elementor-4732 .elementor-element.elementor-element-ff5a3ae .spaciaz-border-shape {
    width: 30px;
    height: 30px;
    clip-path: path("M0 0 Q0,30 30,30 L 0 30 Z");
}

.elementor-4732 .elementor-element.elementor-element-ff5a3ae p {
    margin-block-end: 0px;
}

.breadcrumb-wrap .breadcrumb-overlay,
.elementor-page-49 .breadcrumb-wrap .breadcrumb-overlay {
    opacity: 0.5;
}

@media(max-width:1200px) {
    .elementor-4732 .elementor-element.elementor-element-c4077e1>.elementor-widget-container {
        margin: 0px 0px -18px 0px;
    }
}

@media(max-width:880px) {
    .elementor-4732 .elementor-element.elementor-element-c3f5d90 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
}